<!-- Copyright 2020 The Terasology Foundation -->
<!-- SPDX-License-Identifier: Apache-2.0 -->
<configuration>

    <!-- Report all changes to this configuration on System.out -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${logOverrideLevel:-warn}">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.terasology" level="${logOverrideLevel:-warn}"/>
    <logger name="org.terasology.flexiblepathfinding" level="${logOverrideLevel:-debug}"/>


</configuration>
